<!-- menu responsive	 -->
<div class="menu-mobile-open fa fa-bars"></div>
<div class="menu-mobile-close fa fa-times"></div>
<div class="menu-overlay"></div>
<div class="menu-sidebar">
  <div class="menu-sidebar-cnt"></div>
</div>
<!-- menu responsive	 -->
<div class="cnt-wrapper">
  <div class="wrapper">
    <app-navbar></app-navbar>
    <div class="main-container">
      <div class="text-right n-navprimary">
        <h4 class="n-title blue">
          <i class="ace-icon fa fa-globe"></i>
          Modulo de Turismo
        </h4>
        <app-breadcrumbs></app-breadcrumbs>
      </div>
      <div class="container ">
        <h3 class="header green vert-offset-top-1">Reporte de Grupos</h3>
        <div class="vert-offset-top-2 vert-offset-bottom-2">
          <form #f="ngForm" (ngSubmit)="onSearch(f.value)" class="form-inline text-right vert-offset-bottom-1">
            <div class="form-group">
              <label for="" class="control-label">
                Grupo:
              </label>
              <input ngModel name="codigo" type="text" placeholder="Nro Grupo" class="form-control" />
            </div>
            <div class="form-group">
              <label for="" class="control-label">
                Fecha visita:
              </label>
              <input ngModel name="fecha" class="w20 date-picker " readonly id="datepicker" placeholder="DD-MM-YYYY" type="text" data-date-format="dd-mm-yyyy"
              />
            </div>
            <div class="form-group">
              <label for="" class="control-label">
                Estado:
              </label>
              <select ngModel name="estado" class="w20 form-control">
                <option value="" selected>Seleccionar</option>
                <option value="1">Pendientes</option>
                <option value="2">Ingresado</option>
              </select>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-sm btn-success">Buscar</button>
              <span class="btn btn-sm" (click)="onClearSearch(f)">Limpiar</span>
            </div>
          </form>
          <div class="table-header">
            Grupos
          </div>
          <div>
            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th>
                    <i class="ace-icon fa fa-certificate"></i>
                    Item
                  </th>
                  <th>
                    <i class="ace-icon fa fa-files-o"></i>
                    Grupo Nro.
                  </th>
                  <th>
                    <i class="ace-icon fa fa-money"></i>
                    Costo
                  </th>
                  <th>
                    <i class="ace-icon fa fa-users"></i>
                    Nro Visitantes
                  </th>
                  <th>
                    <i class="ace-icon fa fa-users"></i>
                    Nro Inasistentes
                  </th>
                  <th>
                    <i class="ace-icon fa fa-calendar"></i>
                    Fecha Registro
                  </th>
                  <th>
                    <i class="ace-icon fa fa-calendar"></i>
                    Fecha Ingreso
                  </th>
                  <td>
                    Estado
                  </td>
                  <th>
                    <i class="ace-icon fa fa-laptop"></i>
                    Accion
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let grupo of grupos | paginate: { itemsPerPage: itemsPage, currentPage: indexPage } ; let i = index">
                  <td>
                    {{i + (indexPage * itemsPage) + 1}}
                  </td>
                  <td>
                    {{grupo.codigo}}
                  </td>
                  <td>
                    {{grupo.costo}}
                  </td>
                  <td>
                    {{grupo.totalVisitantes}}
                  </td>
                  <td>
                    {{grupo.inasistencias}}
                  </td>
                  <td>
                    {{grupo.fechaCreacion}}
                  </td>
                  <td>
                    {{grupo.fecha}}
                  </td>
                  <td>
                    <span *ngIf="grupo.estado == 1" class="label label-warning">
                      Pendiente
                    </span>
                    <span *ngIf="grupo.estado == 2" class="label label-success">
                      Ingresado
                    </span>
                  </td>
                  <td>
                    <span class="btn btn-primary btn-xs btn-block" (click)="onVerGrupo(grupo)">
                      <i class="ace-icon fa fa-eye"></i>Ver
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="text-center">
              <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="indexPage = $event"></pagination-controls>
              <a class="btn btn-md btn-success" [routerLink]="['/home']">+ Agregar Grupo</a>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- /.main-container -->
  </div>
</div>
