<!-- menu responsive	 -->
<div class="menu-mobile-open fa fa-bars"></div>
<div class="menu-mobile-close fa fa-times"></div>
<div class="menu-overlay"></div>
<div class="menu-sidebar">
  <div class="menu-sidebar-cnt"></div>
</div>
<!-- menu responsive	 -->

<div class="cnt-wrapper">
  <div class="wrapper">
    <app-navbar></app-navbar>
    <div class="main-container">
      <div class="text-right n-navprimary">
        <h4 class="n-title orange">
          <i class="ace-icon fa fa-globe"></i>
          Modulo de Turismo
        </h4>
        <app-breadcrumbs></app-breadcrumbs>
      </div>
      <div class="container ">
        <h3 class="header orange vert-offset-top-1">Reporte de Grupos</h3>
        <div class="vert-offset-top-2 wancho-regula">
          <form #f="ngForm" (ngSubmit)="onSearch(f.value)" class="form-horizontal">
            <ul class="vert-offset-bottom-1 w-controles">
              <li>
                <label for="">
                  Grupo:
                </label>
                <input ngModel name="codigo" type="text" placeholder="Nro Grupo" />
              </li>
              <!-- li>
                <label>
                  Fecha visita:
                </label>
                <input class="w20 date-picker" id="id-date-picker-2" type="text" data-date-format="dd-mm-yyyy" />
              </li -->
              <li>
                <label>
                  Estado:
                </label>
                <select ngModel name="estado" class="w20">
                  <option value="" selected>Todos</option>
                  <option value="1">Pendientes</option>
                  <option value="2">Visitados</option>
                </select>
              </li>
              <li class="w-control-buttons">
                <button class="btn btn-primary btn-sm" type="submit">
                  <i class="ace-icon fa fa-search align-top bigger-125"></i>
                  Buscar
                </button>
                <span class="btn btn-sm" (click)="onClearSearch(f)">Limpiar</span>
              </li>
            </ul>
          </form>
          <div class="table-header">
            Grupos
          </div>
          <div>
            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th>
                    <i class="ace-icon fa fa-square-o"></i>
                    Item
                  </th>
                  <th>
                    <i class="ace-icon fa fa-files-o"></i>
                    Operador
                  </th>
                  <th>
                    <i class="ace-icon fa fa-files-o"></i>
                    Grupo
                  </th>
                  <th>
                    <i class="ace-icon fa fa-users"></i>
                    Nro Visitantes
                  </th>
                  <th>
                    <i class="ace-icon fa fa-users"></i>
                    Nro Inasistentes
                  </th>
                  <th>
                    <i class="ace-icon fa fa-calendar"></i>
                    Fecha
                  </th>
                  <th>
                    <i class="ace-icon fa fa-file"></i>
                    Documento
                  </th>
                  <th>
                    <i class="ace-icon fa fa-calendar"></i>
                    Estado
                  </th>
                  <th>
                    <i class="ace-icon fa fa-laptop"></i>
                    Accion
                  </th>
                </tr>
              </thead>

              <tbody *ngIf="grupos.length">
                <tr *ngFor="let grupo of grupos; let i = index">
                  <td>
                    {{i +1}}
                  </td>
                  <td>
                    {{grupo.codOperador}}
                  </td>
                  <td>
                    {{grupo.codigo}}
                  </td>
                  <td>
                    {{grupo.totalVisitantes}}
                  </td>
                  <td>
                    {{grupo.inasistencias}}
                  </td>
                  <td>
                    {{grupo.fecha}}
                  </td>
                  <td>
                    {{grupo.documento}}
                  </td>
                  <td>
                    <span class="label label-{{estados[ grupo.estado -1].class}}">
                      {{estados[ grupo.estado -1].text}}
                    </span>
                  </td>
                  <td>
                    <a *ngIf="grupo.estado==1" class="btn btn-sm" [routerLink]="['/control-visitantes/',grupo.id]">Ver</a>
                    <a *ngIf="grupo.estado!=1" class="btn btn-sm" [routerLink]="['/ver-visitantes-grupo/',grupo.id]">Ver</a>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="!grupos.length">
                <tr>
                  <td colspan="9">No se encontraron grupos</td>
                </tr>
              </tbody>
            </table>


          </div>
        </div>
      </div>
    </div>
    <!-- /.main-container -->
  </div>
</div>
