<!-- menu responsive	 -->
<div class="menu-mobile-open fa fa-bars"></div>
<div class="menu-mobile-close fa fa-times"></div>
<div class="menu-overlay"></div>
<div class="menu-sidebar">
  <div class="menu-sidebar-cnt"></div>
</div>
<!-- menu responsive	 -->
<div class="cnt-wrapper">
  <div class="wrapper">
    <app-navbar></app-navbar>
    <div class="main-container">
      <div class="text-right n-navprimary">
        <h4 class="n-title blue">
          <i class="ace-icon fa fa-globe"></i>
          Modulo de Turismo
        </h4>
        <app-breadcrumbs></app-breadcrumbs>
      </div>
      <div class="container">
        <h3 class="header green vert-offset-top-1">Revisar Datos</h3>
        <div class="vert-offset-top-2">
          <div class="wancho-medium">
            <h4 class="header smaller lighter blue">
              Fecha de visita: {{fecha}} | Ruta: {{rutaActiva.nombre}}
            </h4>
            <div class="table-header">
              6 visitantes ingresados
            </div>
            <div>
              <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <th width="9%">
                      <i class="ace-icon glyphicon-th"></i>
                      Item
                    </th>
                    <th>
                      <i class="ace-icon fa fa-user"></i>
                      Nombres y Apellidos
                    </th>
                    <th>
                      <i class="ace-icon fa fa-folder-o"></i>
                      Tipo Doc
                    </th>
                    <th>
                      <i class="ace-icon fa fa-pencil-square-o "></i>
                      Nro Doc
                    </th>
                    <th>
                      Acción
                    </th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let pax of paxes; let i = index">
                    <td>
                      {{i+1}}
                    </td>
                    <td>
                      {{pax.nombres}} {{pax.apellidos}}
                    </td>
                    <td>
                      {{pax.tipoDocumento}}
                    </td>
                    <td>
                      {{pax.dni}}
                    </td>
                    <td>
                      <a (click)="onRemovePax(pax)" class="btn btn-danger btn-sm">
                        <i class="ace-icon fa fa-trash-o "></i>Eliminar</a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="center">
                <div class="pax-total">
                  Total: S/.{{rutaActiva.costoVisitante*paxes.length}}
                </div>
              </div>
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-warning" (click)="onAgregarPax()">Añadir visitante</button>
              <button type="button" class="btn btn-success" (click)="onFinalizar()">Finalizar</button>
              <br/>
              <br/>
              <br/>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- /.main-container -->
  </div>
</div>
<ng-template #dialogConfirm>
  <div mat-dialog-content>
    <p>
      ¿Confirma la eliminació de esta persona?
    </p>
    <p>
      <strong>{{activePax.apellidos}}, {{activePax.nombres}}</strong>
    </p>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="onConfirmRemovePax()">Eliminar</button>
  </div>
</ng-template>
