<!-- menu responsive	 -->
<div class="menu-mobile-open fa fa-bars"></div>
<div class="menu-mobile-close fa fa-times"></div>
<div class="menu-overlay"></div>
<div class="menu-sidebar">
  <div class="menu-sidebar-cnt"></div>
</div>
<!-- menu responsive	 -->
<div class="cnt-wrapper">
  <div class="wrapper">
    <app-navbar></app-navbar>
    <div class="main-container">
      <div class="text-right n-navprimary">
        <h4 class="n-title orange">
          <i class="ace-icon fa fa-globe"></i>
          Modulo de Turismo
        </h4>
        <app-breadcrumbs></app-breadcrumbs>
      </div>

      <div class="main-container">
        <div class="main-content">
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <div class="login-container">
                <div class="position-relative">


                  <div id="forgot-box" class="forgot-box widget-box no-border">
                    <div class="widget-body">
                      <div class="widget-main">
                        <h4 class="header red lighter bigger">
                          <i class="ace-icon fa fa-key"></i>
                          Cambiar contraseña
                        </h4>

                        <div class="space-6"></div>
                        <p>
                          Ingrese su nueva contraseña
                        </p>

                        <form>
                          <fieldset>
                            <label class="block clearfix">
                              <span class="block input-icon input-icon-right">
                                <input type="password" class="form-control" placeholder="Nueva contraseña" />
                                <i class="ace-icon fa fa-key"></i>
                              </span>
                            </label>
                            <label class="block clearfix">
                              <span class="block input-icon input-icon-right">
                                <input type="password" class="form-control" placeholder="Confirme nueva contraseña" />
                                <i class="ace-icon fa fa-key"></i>
                              </span>
                            </label>

                            <div class="clearfix">
                              <button type="button" class="width-35 pull-right btn btn-sm btn-danger">
                                <i class="ace-icon fa fa-lightbulb-o"></i>
                                <span class="bigger-110">Cambiar</span>
                              </button>
                            </div>
                          </fieldset>
                        </form>
                      </div>
                      <!-- /.widget-main -->

                    </div>
                    <!-- /.widget-body -->
                  </div>
                  <!-- /.forgot-box -->


                </div>
                <!-- /.position-relative -->
              </div>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.main-content -->
      </div>
      <!-- /.main-container -->
    </div>
  </div>
</div>
