<!-- menu responsive	 -->
<div class="menu-mobile-open fa fa-bars"></div>
<div class="menu-mobile-close fa fa-times"></div>
<div class="menu-overlay"></div>
<div class="menu-sidebar">
  <div class="menu-sidebar-cnt"></div>
</div>
<!-- menu responsive	 -->

<div class="cnt-wrapper">
  <div class="wrapper">
    <app-navbar></app-navbar>
    <div class="main-container">
      <div class="text-right n-navprimary">
        <h4 class="n-title blue">
          <i class="ace-icon fa fa-globe"></i>
          Modulo de Turismo
        </h4>
        <app-breadcrumbs></app-breadcrumbs>
      </div>
      <div class="container ">
        <h3 class="header green vert-offset-top-1">Noticias</h3>
        <div class="vert-offset-top-2 wancho-medium">
          <div class="table-header">
            Lista de noticias
          </div>
          <div class="widget-box">
            <div class="widget-header widget-header-flat">
              <h4 class="widget-title smaller">
                <i class="ace-icon fa  fa-pencil-square-o"></i>
                Titulo |
                <i class="ace-icon fa  fa-calendar"></i> 12 -06-2018
              </h4>
            </div>

            <div class="widget-body">
              <div class="widget-main">
                <div class="row">
                  <div class="col-xs-12">
                    <blockquote>
                      <p class="lighter line-height-125">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                      </p>
                      <p class="lighter line-height-125">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                      </p>

                      <small>
                        Someone famous
                        <cite title="Source Title">Source Title</cite>
                      </small>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="widget-box">
            <div class="widget-header widget-header-flat">
              <h4 class="widget-title smaller">
                <i class="ace-icon fa  fa-pencil-square-o"></i>
                Titulo 2 |
                <i class="ace-icon fa  fa-calendar"></i> 07-04-2018
              </h4>
            </div>

            <div class="widget-body">
              <div class="widget-main">
                <div class="row">
                  <div class="col-xs-12">
                    <blockquote>
                      <p class="lighter line-height-125">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                      </p>
                      <p class="lighter line-height-125">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                      </p>

                      <small>
                        Someone famous
                        <cite title="Source Title">Source Title</cite>
                      </small>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="widget-box">
            <div class="widget-header widget-header-flat">
              <h4 class="widget-title smaller">
                <i class="ace-icon fa  fa-pencil-square-o"></i>
                Titulo 3 |
                <i class="ace-icon fa  fa-calendar"></i> 01-03-2018
              </h4>
            </div>

            <div class="widget-body">
              <div class="widget-main">
                <div class="row">
                  <div class="col-xs-12">
                    <blockquote>
                      <p class="lighter line-height-125">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                      </p>
                      <p class="lighter line-height-125">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                      </p>

                      <small>
                        Someone famous
                        <cite title="Source Title">Source Title</cite>
                      </small>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- /.main-container -->
  </div>
</div>
