// colores
c-1 = #dc723a
c-2 = #a4954c
c-3 = #e0737a
c-4 = #99471b
c-5 = #dc4a3a
c-6 = #8b8b8b
body
	background-color #fff
.orange
	color c-4
.rosado
	color c-3
	font-weight 400
.gris
	color c-6
	font-weight 400	
	
.wancho-medium
	max-width 768px
	margin auto

.wancho-regular
	max-width 1180px
	margin auto
	width 94%
	
.n-navprimary
	position relative
.n-title
	position absolute
	top 0
	left 20px
	z-index 10
	
.p10
	padding 10px
.w100
	width 100%
.w96
	width 96%

// login
.login-layout .widget-box .widget-body .toolbar>div>a
	color #fff
	
.row-login
	max-width 320px
	width 100%
.login-layout .main-content
	&.main-login
		min-height 100vh !important
		display flex
		align-items center
		justify-content center
.header.blue
	color #8b8b8b !important
	font-weight 400

.l-remember
	font-size 13px
	color #8b8b8b
	font-weight 400	
	

//tabla responsive	
.n-table-responsive	
	.n-label
		display none

.table-header
	background-color c-6
//tabla responsive	

table td
	vertical-align: middle !important

.legendLabel
	font-size: 20px

//menu
.dropdown-toggle
	span, i
		display inline-block
		vertical-align middle
	.user-info
		top 0	
		
.breadcrumb
	>li
		color c-1
		&.active, &:hover
			color #555
			>
				a
					color #555
					font-weight bold
					text-decoration underline	
			
//menu
//custom buttons
.btn-primary, .btn-primary.focus, .btn-primary:focus
	background c-6 !important
	border-color c-6
.btn-primary.focus:hover, 
.btn-primary:active:hover, 
.btn-primary:focus:active, 
.btn-primary:focus:hover, 
.btn-primary:hover, 
.open>.btn-primary.dropdown-toggle, 
.open>.btn-primary.dropdown-toggle.focus, 
.open>.btn-primary.dropdown-toggle:active, 
.open>.btn-primary.dropdown-toggle:focus, 
.open>.btn-primary.dropdown-toggle:hover
	background c-2 !important
	border-color c-2
// controles
.w-controles
	display flex
	flex-flow row wrap
	align-items center
	margin-left 0
	li
		list-style none
		margin-left 10px
		input, select
			height 35px
			box-sizing border-box
			
		&:first-child
			margin-left 0
// controles

//header
.navbar-container
	padding-right 0
.navbar
	background c-1
	
.ace-nav>li.light-blue>a	
	background c-3
	
.ace-nav>li.light-blue>a:focus, 
.ace-nav>li.light-blue>a:hover, 
.ace-nav>li.open.light-blue>a
	background c-2
	
//pagos

//pagos
// Menu responsive
.responsive-logo
	margin-top 10px
	width 80%
	display block
	img
		display block
		width 100%
		height auto

.menu-overlay
	position fixed
	top 0
	left 0
	background-color black
	z-index -1
	width 100%
	height 100%
	opacity 0
	cursor pointer
	transition all 0.45s ease
	&.active
		z-index 1000
		opacity 0.8

.menu-mobile-close, .menu-mobile-open
	background-color c-1
	border-radius 7%
	color white
	cursor pointer
	font-size 28px
	height 42px
	line-height 42px
	position fixed
	right 5px
	text-align center
	top 5px
	transition all 0.45s ease
	width 42px
	transform rotate(0deg)

.menu-mobile-open
	opacity 1
	visibility hidden
	z-index 1002
	top 47px
	&.scrolling
		opacity 0.6
	&:hover
		opacity 1
	&.active
		visibility hidden
		opacity 0
		right 220px
		z-index 1000
		transform rotate(-90deg)

.menu-mobile-close
	visibility hidden
	opacity 0
	z-index 1000
	background white
	color c-1
	&.active
		visibility visible
		opacity 1
		right 205px
		z-index 1002
		transform rotate(-90deg)
.menu-sidebar
	width 200px
	height 100%
	overflow auto
	position fixed
	top 0
	right -200px
	background c-1
	z-index 1000
	transition right 0.45s ease
	&.active
		right 0
.menu-responsive
	margin 0
	padding 0
	padding-top 10px
	li
		list-style none
		display flex
		align-items center
		border-bottom 1px solid #367598
		.fa
			color #fff
			margin-left 10px
		&.active
			background-color c-2
			
		a
			font-size 14px
			color #fff
			width 100%
			height 48px
			display flex
			align-items center
			padding 0 10px


.cnt-wrapper,.footer
	position relative
	left 0
	transition left 0.45s ease
	&.active
		left -200px
.wrapper
	overflow hidden

body
	&.active
		overflow hidden

@media screen and (max-width:1200px)
	.n-table-responsive
		font-size 12px
	.table>thead>tr>th
		font-weight 500



@media screen and (max-width:1024px)
	.menu
		display none
	.menu-mobile-open
		visibility visible

	/** menu **/
	.breadcrumb.menu-list
		display none
	.breadcrumbs
		min-height 48px
	.n-title
		top 5px

@media screen and (max-width:991px)
	.container
		width 94%
	.n-accion
		button
			margin 2px
			width 120px
			box-sizing border-box
			

@media screen and (max-width:960px)
	.w-controles
		justify-content center
		
	.w-control-buttons
		text-align center
		width 100%
		margin-top 10px
		
	


@media screen and (max-width:768px)
	.ss8
		.table-header
			margin-bottom 10px
		
		.col-xs-4
			display block
			float none
			width 100%
			margin-bottom 10px
			overflow hidden
			&:last-child
				text-align center
	//tablas responsive
	.n-table-responsive	
		thead
			display none
		tbody
			td
				display flex
				width 100%
				flex-flow row wrap
				border none !important
				padding 0 !important
				&:first-child
					.n-descrip
						border-top 1px solid #ccc
				&:last-child
					border-bottom 5px solid #fff !important

		.n-label
			min-height 40px
			display flex
			width 30%
			align-items center
			background-color c-6
			color #fff
			padding-left 10px
			box-sizing border-box
		.n-descrip
			padding 0 10px
			box-sizing border-box
			min-height 40px
			width 70%
			display flex
			align-items center
			border-bottom 1px solid #ccc


@media screen and (max-width:640px)
	//ss3
	.ss3-main
		.col-xs-6
			float none
			width 100%
			margin-bottom 30px
		
	.w-controles 
		li
			width 100%
			box-sizing border-box
			margin-left 0
			margin-bottom 10px
			label, input, select
				width 100%
			

@media screen and (max-width:480px)
	.navbar-buttons.navbar-header
		position absolute
		right 0px
		top 0px
