<!-- menu responsive	 -->
<div class="menu-mobile-open fa fa-bars"></div>
<div class="menu-mobile-close fa fa-times"></div>
<div class="menu-overlay"></div>
<div class="menu-sidebar">
  <div class="menu-sidebar-cnt"></div>
</div>
<!-- menu responsive	 -->
<div class="cnt-wrapper">
  <div class="wrapper">
    <app-navbar></app-navbar>
    <div class="main-container">
      <div class="text-right n-navprimary">
        <app-breadcrumbs></app-breadcrumbs>
      </div>
      <div class="container">
        <h3 class="header green vert-offset-top-1">Lista de pagos</h3>
        <div class="vert-offset-top-2 vert-offset-bottom-2">
          <form #f="ngForm" (ngSubmit)="onSearch(f.value)" class="vert-offset-bottom-1 form-inline text-right">
            <div class="form-group">
              <label class="control-label" for="operacion">
                Operación:
              </label>
              <input ngModel name="operacion" id="operacion" class="form-control" type="text" placeholder="Nro Operacion" maxlength="10"
              />
            </div>
            <div class="form-group">
              <!-- Fecha: <input class="w20 date-picker" id="id-date-picker-2" type="text" data-date-format="dd-mm-yyyy"/>-->
              <label class="control-label" for="estado">
                Estado:
              </label>
              <select ngModel name="estado" id="estado" class="w20 form-control">
                <option value="" selected>Seleccionar</option>
                <option value="1" selected>Pendiente</option>
                <option value="2">Aprobados</option>
                <option value="3">Rechazados</option>
              </select>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-sm">Buscar</button>
            </div>
          </form>
          <div class="table-header">
            {{pagos.length}} pagos realizados
          </div>
          <div>
            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th>
                    <i class="ace-icon fa fa-certificate"></i>
                    Item
                  </th>
                  <th>
                    <i class="ace-icon fa fa-edit"></i>
                    Nro operacion
                  </th>
                  <th>
                    <i class="ace-icon fa fa-money"></i>
                    Monto Abonado
                  </th>
                  <th>
                    <i class="ace-icon fa fa-calendar"></i>
                    Fecha Abono
                  </th>
                  <th>
                    <i class="ace-icon fa fa-info-circle"></i>
                    Estado
                  </th>
                  <th>
                    <i class="ace-icon fa fa-folder-o"></i>
                    Voucher
                  </th>
                </tr>
              </thead>

              <tbody *ngIf="pagos.length">
                <tr *ngFor="let pago of pagos| paginate: { itemsPerPage: itemsPage, currentPage: indexPage } ; let i = index">
                  <td>
                    {{i + (indexPage * itemsPage) + 1}}
                  </td>
                  <td>
                    {{pago.operacion}}
                  </td>
                  <td>
                    S/. {{pago.monto}}
                  </td>
                  <td>
                    {{pago.fecha}}
                  </td>
                  <td>
                    <span class="label label-{{estados[ pago.estado -1].class}}">
                      {{estados[ pago.estado -1].text}}
                    </span>
                  </td>
                  <td>
                    <a class="btn btn-block btn-xs btn-primary" href="{{url}}/file/{{pago.voucher}}" target="_blank" data-rel="colorbox">
                      <i class="ace-icon fa fa-eye"></i>Ver
                    </a>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="!pagos.length">
                <tr>
                  <td colspan="6">No se ha realizado ningun pago</td>
                </tr>
              </tbody>
            </table>
            <div class="text-center">
              <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="indexPage = $event"></pagination-controls>
              <a class="btn btn-md btn-success" [routerLink]="['/home']">+ Agregar Grupo</a>
            </div>
          </div>
          <div class="text-center">
            <a type="button" class="btn btn-md btn-success" [routerLink]="['/agregar-pago/']">+ Agregar pago</a>
          </div>
        </div>

      </div>
    </div>
    <!-- /.main-container -->
  </div>
</div>
