<!-- menu responsive	 -->
<div class="menu-mobile-open fa fa-bars"></div>
<div class="menu-mobile-close fa fa-times"></div>
<div class="menu-overlay"></div>
<div class="menu-sidebar">
  <div class="menu-sidebar-cnt"></div>
</div>
<!-- menu responsive	 -->
<div class="cnt-wrapper">
  <div class="wrapper">
    <app-navbar></app-navbar>
    <div class="main-container">
      <div class="text-right n-navprimary">
        <h4 class="n-title orange">
          <i class="ace-icon fa fa-globe"></i>
          Modulo de Turismo
        </h4>
        <app-breadcrumbs></app-breadcrumbs>
      </div>
      <div class="container">
        <h3 class="header orange vert-offset-top-1">Lista de pagos</h3>
        <div class="vert-offset-top-2">
          <div class="">
            <form #f="ngForm" (ngSubmit)="onSearch(f.value)" class="form-horizontal">
              <ul class="vert-offset-bottom-1 w-controles">
                <li>
                  <label for="form-field-select-2">Operador:</label>
                  <input ngModel name="operador" type="text" placeholder="Operador" class="">
                </li>
                <li>
                  <label for="form-field-select-2">Nro Operacion:</label>
                  <input ngModel name="operacion" type="text" placeholder="Operacion" class=" ">
                </li>
                <li class="w-control-buttons">
                  <button class="btn btn-primary btn-sm" type="submit" >
                    <i class="ace-icon fa fa-search align-top bigger-125"></i>
                    Buscar
                  </button>
                   <span class="btn btn-sm" (click)="onClearSearch(f)">Limpiar</span>
                </li>
              </ul>
            </form>
            <div class="table-header">
              {{pagos.length}} pagos realizados
            </div>
            <div>
              <table id="dynamic-table" class="table n-table-responsive   table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <th>
                      <i class="ace-icon fa fa-certificate"></i>
                      Item
                    </th>
                    <th>
                      <i class="ace-icon fa fa-laptop"></i>
                      ID Pago
                    </th>
                    <th>
                      <i class="ace-icon fa fa-laptop"></i>
                      Operador
                    </th>
                    <th>
                      <i class="ace-icon fa fa-edit"></i>
                      Nro operacion
                    </th>
                    <th>
                      <i class="ace-icon fa fa-money"></i>
                      Monto Abonado
                    </th>
                    <th>
                      <i class="ace-icon fa fa-calendar"></i>
                      Fecha Abono
                    </th>
                    <th>
                      <i class="ace-icon fa fa-info-circle"></i>
                      Estado
                    </th>
                    <th>
                      <i class="ace-icon fa fa-folder-o"></i>
                      Voucher
                    </th>
                    <th>
                      Accion
                    </th>
                  </tr>
                </thead>

                <tbody *ngIf="pagos.length">
                  <tr *ngFor="let pago of pagos; let i = index">
                    <td>
                      <div class="n-label">
                        Item
                      </div>
                      <div class="n-descrip">
                        {{i+1}}
                      </div>
                    </td>
                    <td>
                      <div class="n-label">
                        ID Pago
                      </div>
                      <div class="n-descrip">
                        {{pago.codigo}}
                      </div>
                    </td>
                    <td>
                      <div class="n-label">
                        Operador
                      </div>
                      <div class="n-descrip">
                        {{pago.operador}}
                      </div>
                    </td>
                    <td>
                      <div class="n-label">
                        Nro operacion
                      </div>
                      <div class="n-descrip">
                        {{pago.operacion}}
                      </div>
                    </td>
                    <td>
                      <div class="n-label">
                        Monto Abonado
                      </div>
                      <div class="n-descrip">
                        S/. {{pago.monto}}
                      </div>
                    </td>
                    <td>
                      <div class="n-label">
                        Fecha Abono
                      </div>
                      <div class="n-descrip">
                        {{pago.fecha}}
                      </div>
                    </td>
                    <td>
                        <div class="n-label">
                          Estado
                        </div>
                        <div class="n-descrip">
                          <a class="btn btn-primary btn-xs" href="{{url}}/file/{{pago.voucher}}" target="_blank" data-rel="colorbox">
                            <i class="ace-icon fa fa-eye"></i>Ver
                          </a>
                        </div>
                    </td>
                    <td>
                      <div class="n-label">
                        Voucher
                      </div>
                      <div class="n-descrip">
                        <span class="label label-{{estados[ pago.estado -1].class}}">
                          {{estados[ pago.estado -1].text}}
                        </span>
                      </div>
                    </td>
                    <td class="n-accion">
                      <div class="n-label">
                        Accion
                      </div>
                      <div class="n-descrip">
                        <div *ngIf="pago.estado == '1'">
                          <button class="btn btn-white btn-sm btn-round" (click)="onAceptarPago(pago)">
                            <i class="ace-icon fa fa-check"></i>
                            Abonar
                          </button>

                          <button class="btn btn-white btn-sm btn-round bootbox-regular" (click)="onRechazarPago(pago)">
                            <i class="ace-icon fa fa-times red2"></i>
                            Rechazar
                          </button>
                        </div>
                        <div *ngIf="pago.motivo">
                          {{pago.motivo}}
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="!pagos.length">
                  <tr>
                    <td colspan="8">No se ha realizado ningun pago</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>

      </div>
    </div>
    <!-- /.main-container -->
  </div>
</div>
