<!-- menu responsive	 -->
<div class="menu-mobile-open fa fa-bars"></div>
<div class="menu-mobile-close fa fa-times"></div>
<div class="menu-overlay"></div>
<div class="menu-sidebar">
  <div class="menu-sidebar-cnt"></div>
</div>
<!-- menu responsive	 -->

<div class="cnt-wrapper">
  <div class="wrapper">
    <app-navbar></app-navbar>
    <div class="main-container">
      <div class="text-right n-navprimary">
        <h4 class="n-title orange">
          <i class="ace-icon fa fa-globe"></i>
          Modulo de Turismo
        </h4>
        <app-breadcrumbs></app-breadcrumbs>
      </div>
      <div class="container ">
        <h3 class="header orange vert-offset-top-1">Reporte de Grupos</h3>
        <div class="vert-offset-top-2 wancho-regula">
          <form #f="ngForm" (ngSubmit)="onSearch(f.value)" class="form-horizontal">
            <ul class="vert-offset-bottom-1 w-controles">
              <li>
                <label>
                  Grupo:
                </label>
                <input ngModel name="codigo" type="text" placeholder="Nro Grupo" />
              </li>
              <!-- li>
                <label>
                  Fecha visita:
                </label>
                <input class="w20 date-picker" id="id-date-picker-2" type="text" data-date-format="dd-mm-yyyy" />
              </li -->
              <li>
                <label>
                  Estado:
                </label>
                <select ngModel name="estado" class="w20">
                  <option value="" selected>Todos</option>
                  <option value="1">Pendientes</option>
                  <option value="2">Visitados</option>
                </select>
              </li>
              <li class="w-control-buttons">
                <button class="btn btn-primary btn-sm" type="submit">
                  <i class="ace-icon fa fa-search align-top bigger-125"></i>
                  Buscar
                </button>
                <span class="btn btn-sm" (click)="onClearSearch(f)">Limpiar</span>
              </li>
            </ul>
          </form>
          <div class="table-header">
            Grupos
          </div>
          <div>
            <table id="dynamic-table" class="n-table-responsive table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th>
                    <i class="ace-icon fa fa-square-o"></i>
                    Item
                  </th>
                  <th>
                    <i class="ace-icon fa fa-files-o"></i>
                    Operador
                  </th>
                  <th>
                    <i class="ace-icon fa fa-files-o"></i>
                    Grupo
                  </th>
                  <th>
                    <i class="ace-icon fa fa-users"></i>
                    Visitantes
                  </th>
                  <th>
                    <i class="ace-icon fa fa-users"></i>
                    Inasistentes
                  </th>
                  <th>
                    <i class="ace-icon fa fa-calendar"></i>
                    Fecha de Visita
                  </th>
                  <th>
                    <i class="ace-icon fa fa-file"></i>
                    Documento
                  </th>
                  <th>
                    <i class="ace-icon fa fa-calendar"></i>
                    Estado
                  </th>
                  <th>
                    <i class="ace-icon fa fa-laptop"></i>
                    Accion
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let grupo of grupos; let i = index">
                  <td>
                    <div class="n-label">
                      Item
                    </div>
                    <div class="n-descrip">
                      {{i +1}}
                    </div>
                  </td>
                  <td>
                    <div class="n-label">
                      Operador
                    </div>
                    <div class="n-descrip">
                      {{grupo.codOperador}}
                    </div>
                  </td>
                  <td>
                    <div class="n-label">
                      Grupo
                    </div>
                    <div class="n-descrip">
                      {{grupo.codigo}}
                    </div>
                  </td>
                  <td>
                    <div class="n-label">
                      Visitantes
                    </div>
                    <div class="n-descrip">
                      {{grupo.totalVisitantes}}
                    </div>
                  </td>
                  <td>
                    <div class="n-label">
                      Inasistentes
                    </div>
                    <div class="n-descrip">
                      {{grupo.inasistencias}}
                    </div>
                  </td>
                  <td>
                    <div class="n-label">
                      Fecha de Visita
                    </div>
                    <div class="n-descrip">
                      {{grupo.fecha}}
                    </div>
                  </td>
                  <td>
                    <div class="n-label">
                      Documento
                    </div>
                    <div class="n-descrip">
                      {{grupo.documento}}
                    </div>
                  </td>
                  <td>
                    <div class="n-label">
                      Estado
                    </div>
                    <div class="n-descrip">
                      <span class="label label-{{estados[ grupo.estado -1].class}}">
                        {{estados[ grupo.estado -1].text}}
                      </span>
                    </div>
                  </td>
                  <td class="n-accion">
                    <div class="n-label">
                      Acción
                    </div>
                    <div class="n-descrip">
                      <button class="btn btn-white btn-sm btn-round" (click)="onAceptarGrupo(grupo)">
                        <i class="ace-icon fa fa-check"></i>
                        Aceptar
                      </button>

                      <button class="btn btn-white btn-sm btn-round  bootbox-regular" (click)="onObservarGrupo(grupo)">
                        <i class="ace-icon fa fa-times red2"></i>
                        Observacion
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>


          </div>
        </div>
      </div>
    </div>
    <!-- /.main-container -->
  </div>
</div>
