<!-- menu responsive	 -->
<div class="menu-mobile-open fa fa-bars"></div>
<div class="menu-mobile-close fa fa-times"></div>
<div class="menu-overlay"></div>
<div class="menu-sidebar">
  <div class="menu-sidebar-cnt"></div>
</div>
<!-- menu responsive	 -->
<div class="cnt-wrapper">
  <div class="wrapper">
    <app-navbar></app-navbar>
    <div class="main-container">
      <div class="text-right n-navprimary">
        <h4 class="n-title blue">
          <i class="ace-icon fa fa-globe"></i>
          Modulo de Turismo
        </h4>
        <app-breadcrumbs></app-breadcrumbs>
      </div>
      <div class="container ss3">
        <h3 class="header green vert-offset-top-1">Ingreso de Visitantes</h3>
        <div class="row ss3-main">

          <form action="" class="form-horizontal">
            <h4 class="header smaller lighter blue">
              Fecha visita:
              <input #fechaEl class=" datepicker" id="fecha-visita"
                type="text" readonly data-date-format="dd-mm-yyyy" value="{{fecha}}" />
              |
              Ruta:
              <select #rutaEl class="w20">
                <option  *ngFor="let r of routes"
                  [attr.selected]="r.id == ruta? true : null"
                  value="{{r.id}}">{{r.nombre}}</option>
              </select>
            </h4>
          </form>
          <app-update-visitantes [paxes]="paxes" (cancel)="onCancel()" (finalizar)="onFinalizar()" ></app-update-visitantes>
        </div>
      </div>
    </div>
    <!-- /.main-container -->
  </div>
</div>
