<!-- menu responsive	 -->
<div class="menu-mobile-open fa fa-bars"></div>
<div class="menu-mobile-close fa fa-times"></div>
<div class="menu-overlay"></div>
<div class="menu-sidebar">
  <div class="menu-sidebar-cnt"></div>
</div>
<!-- menu responsive	 -->
<div class="cnt-wrapper">
  <div class="wrapper">
    <app-navbar></app-navbar>
    <div class="main-container">
      <div class="text-right n-navprimary">
        <h4 class="n-title blue">
          <i class="ace-icon fa fa-globe"></i>
          Modulo de Turismo
        </h4>
        <app-breadcrumbs></app-breadcrumbs>
      </div>
      <div class="container ss3">
        <h3 class="header green vert-offset-top-1">Ingreso de Visitantes</h3>
        <div class="row ss3-main">

          <form action="" class="form-horizontal">
            <h4 class="header smaller lighter blue">Grupo Nro. 000134-MAPI &nbsp;&nbsp;|&nbsp;&nbsp; Fecha visita:
              <input class="w20 date-picker" id="id-date-picker-2" type="text" data-date-format="dd-mm-yyyy" value="12-06-2018" /> &nbsp;&nbsp;|&nbsp;&nbsp; Ruta:
              <select class="w20">
                <option value="1">Huascarán</option>
                <option value="2">Camino Inca</option>
                <option value="3" selected>Macchu picchu</option>
              </select>
            </h4>
          </form>
          <div class="col-xs-6">

            <div class="table-header">
              Registro de visitantes
            </div>
            <table class="table-bordered" width="100%">
              <tr>
                <td class="p10">
                  <form action="" class="form-horizontal">

                    <div class="form-group">
                      <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Tipo doc </label>
                      <div class="col-sm-9">
                        <select>
                          <option selected>Seleccionar</option>
                          <option value="1">DNI</option>
                          <option value="2">Pasaporte</option>
                          <option value="3">Carne extranjeria</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Nro Doc</label>

                      <div class="col-sm-9">
                        <input type="text" id="form-field-1" placeholder="Nro Doc" class="col-xs-10 col-sm-5 w100">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Apellidos </label>

                      <div class="col-sm-9">
                        <input type="text" id="form-field-1" placeholder="Apellidos" class="col-xs-10 col-sm-5 w100">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Nombres </label>

                      <div class="col-sm-9">
                        <input type="text" id="form-field-1" placeholder="Nombres" class="col-xs-10 col-sm-5 w100">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Pais </label>

                      <div class="col-sm-9">
                        <select>
                          <option selected>Seleccionar</option>
                          <option value="1">Alemania</option>
                          <option value="2">Argentina</option>
                          <option value="3">Belgica</option>
                          <option value="4">Estados Unidos</option>
                          <option value="5">Peru</option>
                          <option value="6">Rusia</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Sexo</label>

                      <div class="col-sm-9">
                        <div class="radio">
                          <label>
                            <input name="sexo" type="radio" class="ace" />
                            <span class="lbl"> Masculino</span>
                          </label>
                        </div>

                        <div class="radio">
                          <label>
                            <input name="sexo" type="radio" class="ace" />
                            <span class="lbl"> Femenino</span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Fecha Nac</label>

                      <div class="col-sm-9">
                        <input class="form-control date-picker" id="id-date-picker-1" type="text" placeholder="dd-mm-yyyy" data-date-format="dd-mm-yyyy"
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Categoria </label>

                      <div class="col-sm-9">
                        <select>
                          <option value="1">Adulto</option>
                          <option value="2">Estudiante</option>
                        </select>
                      </div>
                    </div>

                    <!--
                  <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Teléfono</label>

                    <div class="col-sm-9">
                      <input type="text" id="form-field-1" placeholder="Teléfono" class="col-xs-10 col-sm-5 w100">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Correo</label>

                    <div class="col-sm-9">
                      <input type="text" id="form-field-1" placeholder="Correo" class="col-xs-10 col-sm-5 w100">
                    </div>
                  </div>
                  -->
                    <div class="text-center">
                      <button type="button" class="btn btn-yellow" onclick="window.location.href='#'">Añadir Visitante</button>
                    </div>
                  </form>
                </td>
              </tr>
            </table>
          </div>
          <div class="col-xs-6">
            <div class="table-header">
              Visitantes
            </div>
            <table class="table table-striped table-bordered table-hover">
              <tbody>
                <tr>
                  <td>
                    Juan Perez Maldonado
                  </td>
                  <td>
                    <a class="btn btn-danger btn-sm">
                      <i class="ace-icon fa fa-trash-o "></i>Eliminar
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    Jose Custodio Pino
                  </td>
                  <td>
                    <a class="btn btn-danger btn-sm">
                      <i class="ace-icon fa fa-trash-o "></i>Eliminar
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    Mabel Osorio Mendez
                  </td>
                  <td>
                    <a class="btn btn-danger btn-sm">
                      <i class="ace-icon fa fa-trash-o "></i>Eliminar
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    Jessica Minerva Peña
                  </td>
                  <td>
                    <a class="btn btn-danger btn-sm">
                      <i class="ace-icon fa fa-trash-o "></i>Eliminar
                    </a>
                  </td>
                </tr>

              </tbody>
            </table>
            <div class="text-center">
              <button type="button" class="btn btn-warning" onclick="window.location.href='home'">Cancelar</button>
              <button type="button" class="btn btn-success" onclick="window.location.href='confirmar-visitantes'">Finalizar confirmacion</button>
            </div>
          </div>

        </div>
      </div>


    </div>
    <!-- /.main-container -->
  </div>
</div>
