<!-- menu responsive	 -->
<div class="menu-mobile-open fa fa-bars"></div>
<div class="menu-mobile-close fa fa-times"></div>
<div class="menu-overlay"></div>
<div class="menu-sidebar">
  <div class="menu-sidebar-cnt"></div>
</div>
<!-- menu responsive	 -->

<div class="cnt-wrapper">
  <div class="wrapper">
    <app-navbar></app-navbar>
    <div class="main-container">
      <div class="text-right n-navprimary">
        <app-breadcrumbs></app-breadcrumbs>
      </div>
      <div class="container ">
        <h3 class="header orange vert-offset-top-1">Reporte por Abonos</h3>
        <div class="vert-offset-top-2 wancho-regula">
          <div class="table-header">
            Reporte Abonos
          </div>
          <div>
            <table class="n-table-responsive table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th>Ruta</th>
                  <th>Nacionales</th>
                  <th>Extranjeros</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let abono of abonos; let i = index">
                  <td>{{abono.var_nombre}}</td>
                  <td>{{abono.nacional}}</td>
                  <td>{{abono.extranjero}}</td>
                  <td>{{abono.total}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- /.main-container -->
  </div>
</div>
