<h4 class="n-title orange">
  <i class="ace-icon fa fa-globe"></i>
  Modulo de PDA para Camino Inca
</h4>
<div class="breadcrumbs ace-save-state " id="breadcrumbs">
  <ul *ngIf="user.var_rol=='recaudador'" class="breadcrumb menu-list">
    <li>
      <i class="ace-icon fa fa-money"></i>
      <a [routerLink]="['/pagos']">Pagos</a>
    </li>
    <li>
      <i class="ace-icon fa fa-users"></i>
      <a [routerLink]="['/grupos']">Grupos</a>
    </li>
  </ul>
  <ul *ngIf="user.var_rol=='puesto'" class="breadcrumb menu-list">
    <li>
      <i class="ace-icon fa fa-money"></i>
      <a [routerLink]="['/puesto/revision-grupos']">Revision grupos</a>
    </li>
    <li>
      <i class="ace-icon fa fa-money"></i>
      <a [routerLink]="['/puesto/grupos']">Todos los grupos</a>
    </li>
  </ul>
  <!-- /.breadcrumb -->
</div>
