/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@media print {
  .n-title {
    position: static;
  }
  .navbar-buttons,
  .breadcrumbs,
  .btn {
    display: none;
  }
}
.login-container h1 {
  font-size: 24px;
}
.logo {
  margin-top: 50px;
}
.breadcrumb > li + li:before {
  color: #ccc;
  content: '| ';
  padding: 0 5px;
}

.pax-total {
  font-size: 18px;
  font-weight: bold;
}
.show-fecha {
  color: #06589e;
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
}

.app-relative {
  position: relative;
}

.errors {
  color: red;
  padding: 10px;
}
