<!-- menu responsive	 -->
<div class="menu-mobile-open fa fa-bars"></div>
<div class="menu-mobile-close fa fa-times"></div>
<div class="menu-overlay"></div>
<div class="menu-sidebar">
  <div class="menu-sidebar-cnt"></div>
</div>
<!-- menu responsive	 -->
<div class="cnt-wrapper">
  <div class="wrapper">
    <app-navbar></app-navbar>
    <div class="main-container">
      <div class="text-right n-navprimary">
        <h4 class="n-title blue">
          <i class="ace-icon fa fa-globe"></i>
          Modulo de Turismo
        </h4>
        <app-breadcrumbs></app-breadcrumbs>
      </div>
      <div class="container ss3">
        <h3 class="header green vert-offset-top-1">Modificar Grupo: {{grupoActivo.codigo}}</h3>
        <div class="row ss3-main">
          <app-update-grupo [fecha]="fecha" [ruta]="ruta"></app-update-grupo>
          <app-update-visitantes [paxes]="paxes" (cancel)="onCancel()" [edicion]="true" (finalizar)="onFinalizar()"></app-update-visitantes>
        </div>
      </div>
    </div>
    <!-- /.main-container -->
  </div>
</div>
